<div class="grupo-container">

    <h2>👨‍👩‍👧‍👦 Grupo Familiar</h2>
  
    <!-- Crear -->
    <div class="card">
      <h4>Crear grupo</h4>
      <input
        type="text"
        placeholder="Nombre del grupo"
        [(ngModel)]="nombreGrupo"
      />
      <button (click)="crearGrupo()">Crear grupo</button>
    </div>
  
    <!-- Listado -->
    <div class="grid">
      <div class="card" *ngFor="let g of grupos">
        <h3>{{ g.nombre }}</h3>
  
        <span class="badge" *ngIf="esCreador(g)">
          Creador
        </span>
        
        <button (click)="entrarGrupo(g.idGrupo)">
            Entrar al grupo
          </button>
          

        <button
          class="danger"
          *ngIf="esCreador(g)"
          (click)="eliminarGrupo(g.idGrupo)"
        >
          Eliminar grupo
        </button>
      </div>
    </div>
  
    <p class="mensaje">{{ mensaje }}</p>
  
  </div>
  