<div class="grupo-container">

  <h2>👥 Usuarios del Grupo</h2>

  <!-- Agregar usuario (solo creador) -->
  <div class="card" *ngIf="esCreador">
    <input
      type="number"
      placeholder="ID del usuario"
      [(ngModel)]="idUsuario"
    />

    <button (click)="agregar()">
      Agregar usuario
    </button>
  </div>

  <!-- Listado -->
  <div class="grid" *ngIf="usuarios.length > 0">
    <div class="card" *ngFor="let u of usuarios">

      <h3>{{ u.nickname }}</h3>

      <p class="correo">{{ u.correo }}</p>
      <p class="pais">País: {{ u.pais }}</p>

      <!-- Quitar solo si es creador -->
      <button
        class="danger"
        *ngIf="esCreador"
        (click)="quitar(u.idUsuario)"
      >
        Quitar
      </button>

    </div>
  </div>

  <button class="biblioteca"
        (click)="verBiblioteca()">
  📚 Biblioteca compartida
</button>


  <p class="mensaje">{{ mensaje }}</p>

</div>


  
  