<nav class="navbar">
    <div class="logo">🎮 Juegos</div>
  
    <ul class="links">
      <li><a routerLink="/dashboard-gamer">Inicio</a></li>
      <li><a routerLink="/tienda">Tienda</a></li>
      <li><a routerLink="/biblioteca">Biblioteca</a></li>
      <li><a routerLink="/cartera">Cartera</a></li>
      <li><a routerLink="/familia">Grupo Familiar</a></li>
      <li><a routerLink="/buscar">Buscar</a></li>
      <li *ngIf="authService.obtenerSesion() as usuario">
        <a [routerLink]="['/perfil', usuario.idUsuario]">
          Mi Perfil
        </a>
      </li>
      
    </ul>
  
    <button class="logout" (click)="cerrarSesion()">Salir</button>
  </nav>
  