<div class="welcome-container">
    <h1>Bienvenido a la plataforma de videojuegos</h1>
  
    <p>
      Compra y gestiona videojuegos digitales de forma sencilla.
    </p>
  
    <div class="actions">
      <h3>¿Tienes una cuenta? Inicia sesión</h3>
      <a routerLink="/login" class="btn primary">
        Iniciar sesión
      </a>
    </div>
  
    <div class="sections">
      <div class="section">
        <h3>¿Eres jugador?</h3>
        <a routerLink="/registro" class="btn secondary">
          Registrarse como Gamer
        </a>
      </div>
  
      <div class="section">
        <h3>¿Eres desarrollador?</h3>
        <a routerLink="/registro-empresa" class="btn secondary">
          Crear Empresa
        </a>
      </div>
    </div>
  </div>
  