<div class="biblioteca-container">
    <h2>📚 Mi Biblioteca</h2>
  
    <p *ngIf="cargando">Cargando biblioteca...</p>
    <p class="error" *ngIf="error">{{ error }}</p>
  
    <div *ngIf="!cargando && biblioteca.length === 0">
      <p>No tienes videojuegos aún.</p>
    </div>
  
    <div class="grid" *ngIf="biblioteca.length > 0">
      <div class="card" *ngFor="let item of biblioteca">
        <h3>
            <a
              [routerLink]="['/videojuego', item.videojuego.idJuego]"
              class="titulo-link"
            >
              {{ item.videojuego.titulo }}
            </a>
          </h3>
          
  
        <p class="descripcion">
          {{ item.videojuego.descripcion }}
        </p>
  
        <p class="precio">
          Q{{ item.videojuego.precio }}
        </p>
  
        <span
          class="badge propio"
          *ngIf="item.esPropio"
        >
          Propio
        </span>
  
        <span
          class="badge compartido"
          *ngIf="!item.esPropio"
        >
          Compartido
        </span>
      </div>
    </div>
  </div>
  