<div class="grupo-container">

    <h2>🎮 Biblioteca compartida del grupo</h2>
  
    <div class="grid" *ngIf="juegos.length > 0">
  
      <div class="card" *ngFor="let j of juegos">
  
        <h3>{{ j.titulo }}</h3>
  
        <p class="empresa">
          {{ j.nombreEmpresa }}
        </p>
  
        <div class="categorias">
          <span class="badge" *ngFor="let c of j.categorias">
            {{ c.nombre }}
          </span>
        </div>
  
        <span class="badge prestado">
          Prestado
        </span>
  
        <button class="instalar">
          Instalar
        </button>
  
      </div>
  
    </div>
  
    <p class="mensaje" *ngIf="juegos.length === 0">
      No hay juegos compartidos en este grupo
    </p>
  
    <p class="mensaje">{{ mensaje }}</p>
  
  </div>
  